{% extends "ecommerce/base.html" %}
{% block title %} Home {% endblock %}
{% load static %}

{% block head %}

<style>
  .cat {
    display: flex;
    justify-content: center;
  }

  .cat-row {

    width: 400px;
    height: auto;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .c-3 {
    width: 120px;
    height: 150px;
    /* border: 1px solid green; */
    text-align: center;

  }


  #cat-img {
    width: 100px;
    height: 80px;

  }
</style>

{% endblock %}

{% block body %}







<div class="site-section block-8">
  <div class="container">

    <div class="row justify-content-center  mb-5">
      <div class="col-md-7 site-section-heading text-center pt-4">
        <h2>Big Sale!</h2>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-12 col-lg-7 mb-5">
        <a href="#"><img src="{% static 'ecommerce/images/blog_1.jpg'%} " alt="Image placeholder"
            class="img-fluid rounded"></a>
      </div>
      <div class="col-md-12 col-lg-5 text-center pl-md-5">
        <h2><a href="#">50% less in all items</a></h2>
        <!-- <p class="post-meta mb-4">By <a href="#">Carl Smith</a> <span class="block-8-sep">&bullet;</span> September 3, 2018</p> -->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iste dolor accusantium facere corporis
          ipsum animi deleniti fugiat. Ex, veniam?</p>
        <p><a href="#" class="btn btn-primary btn-sm">Shop Now</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-md-7 site-section-heading text-center pt-4">
      <h2>Category</h2>
    </div>
  </div>

</div>
<div class="cat">
  <div class="cat-row">
    {% for category in categories%}
    <div class="c-3">
      <a href="{% url 'category' category.id %}"><img id="cat-img" src="{{ category.category_image.url }} " alt=""></a>
      <a href="{% url 'category' category.id %}">
        <h4 style="color:black">{{category.category}}</h4>
      </a>
    </div>
    {% endfor %}
  </div>
</div>



<!-- category section end -->



<div class="site-section block-3 site-blocks-2 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 site-section-heading text-center pt-4">
        <h2>Top Selling Products</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 ">
        <div class="nonloop-block-3 owl-carousel">

          {% for product in products %}
          <div class="item">
            <div class="block-4 text-center">
              <figure class="block-4-image">
                <a href="product_details/{{product.id}}/{{product.title}}"><img src="{{ product.image.url }}"
                    alt="Image placeholder" class="img-fluid"></a>
              </figure>
              <div class="block-4-text p-4">
                <h3><a href="product_details/{{product.id}}/{{product.title}}">{{ product.title }}</a></h3>
                <p class="mb-0">{{ product.tagline }}</p>
                <p class="text-primary font-weight-bold"><s>৳ {{product.price}}</s></p>
                <p class="text-primary font-weight-bold">Discount {{product.discount}}%</p>
                <p class="text-primary font-weight-bold">৳ {{product.discount_price}}</p>
              </div>
            </div>
          </div>

          {% endfor %}


        </div>
      </div>
    </div>
  </div>
</div>




<script>
  function addCart(cart) {
    console.log(cart);
    cart.forEach((item, index) => {
      item.addEventListener('click', () => {
        nextPreOrder(index);

      })
    })
  }

  function restore() {
    let restoreLocalValue = parseInt(localStorage.getItem('count'));
    const cartCounter = document.getElementById("cartCounter");
    if (restoreLocalValue) {
      cartCounter.textContent = restoreLocalValue;
    }

  }




  function manageOrder() {
    const cart = document.querySelectorAll(".add-cart");
    restore();
    addCart(cart);

  }


  window.addEventListener("load", () => {
    manageOrder();
  });
</script>

{% endblock %}